<% if(ctx.session.error){ %>
<div class="alert alert-danger">
  <div class="mt-2"><b>有错误发生：</b></div>
  <ul class="mt-2 mb-2">
    <li><i class="glyphicon glyphicon-remove"></i><%= ctx.session.error %></li>
  </ul>
</div>
<%  } %>
<% ctx.session.error=null %>